.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2.44rem;
}

.heading h1 +p {
    color: gray !important;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0c1d2a;
}

label {
    font-size: 15px;
    color: #0f2332;
}

.heading h1 {
    text-transform: uppercase;
    color: #3882ba;
}

form button {
    border-radius: 0;
    background-color: #3882ba;
    float: right;
}

.form-field {
    display: flex;
    align-items: center;
    gap: 0.44rem;
    /* justify-content: space-between; */
    margin-bottom: 2.55rem;
}

.form-field input {
    border: none !important;
    border-radius: 0;
    border-bottom: 2px solid gray !important;
}

.form-field input:focus {
    outline: none;
}