.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

/* Form styling */
.login-form {
    background-color: #f8f9fa;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;

    /* min-width: 300px; */
    width: 500px;
    gap: 2.88rem;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0c1d2a;
}

.heading h1 {
    text-transform: uppercase;
    color: #3882ba;
}

.login-btn {
    border-radius: 0;
    background-color: #3882ba;
    align-self: center;
}

.form-field {
    display: flex;
    align-items: center;
    gap: 2rem;
    /* justify-content: space-between; */
}

.form-field input {
    border: none !important;
    border-radius: 0;
    border-bottom: 2px solid gray !important;
}
.form-field input:focus{
    outline: none;
}