.user-info {
    padding: 2rem;
}

.heading {
    margin-bottom: 2rem;
}

.heading h2 {
    color: var(--light-text);
}


button:active {
    transform: scale(0.9);
}

input:focus {
    border-color: hsl(169, 82%, 27%);
    outline: none;
}
.form-group{
    display: flex;
    gap: 1rem;
}