.input-error input, .input-error select{
    border-color: hsl(0, 66%, 54%) !important;
}
.input-error p{
    color: hsl(0, 66%, 54%);
    font-size: 13px;
    margin-top: 5px;
}

.input-error > label {
  color: hsl(0, 66%, 54%);
}