#root {
  max-width: 1280px;
}
button {
  border: none;
  cursor: pointer;
  border-radius: 2px;
  font-weight: 900;
  padding: 0.44rem 1rem;
}

.main-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "header header"
    "sidebar main";
}

.header {
  grid-area: header;
  background-color: #4CAF50;

}

.sidebar {
  grid-area: sidebar;
  background-color: blue;
  color: white;
  height: 100%;
}

.main-content {
  grid-area: main;
  background-color: black;
  color: white;
  height: 100%;
  overflow: auto;
}

.actions-btns {
  display: flex;
  flex-direction: column;
  gap: 0.33rem;
}

.sidebar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}